body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/static/bg_4.jpg"); /* Specify the path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #333;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Semi-transparent white background */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #eb8305;
}

/* -------------------------------------- */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.crop-recommendations,
.crop-pricing {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

#pricing-list {
  list-style: none;
  padding: 0;
}

#pricing-list li {
  margin: 10px 0;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#price-chart {
  width: 100%; /* Makes the chart responsive */
  height: 400px; /* Set a reasonable height */
  margin-top: 20px;
}

#pricing-table {
  width: 100%;
  margin-bottom: 20px;
}

#pricing-table th,
#pricing-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}
